1

In [ ]:

print("División")
num1 = int(input("Escriba el primer número: "))
num2 = int(input("Escriba el segundo número: "))
if num2 == 0:
  print("No se puede dividir por cero.")
else:
  cociente = num1 // num2
  resto = num1 % num2
if resto == 0:
  print("La división es exacta. Cociente: ",cociente)
else:
  print("La división no es exacta. Cociente: ", cociente, "Resto: ",resto)

División
Escriba el primer número: 10
Escriba el segundo número: 8
La división no es exacta. Cociente:  1 Resto:  2

2

In [ ]:
num1 = int(input("Ingresa el primer número: "))
num2 = int(input("Ingresa el segundo número: "))
if num1 % num2 == 0:
  print("El número" ,num1,  "es múltiplo del número",num2)
elif  num2 % num1 == 0:
  print("El número" ,num2,  "es múltiplo del número",num1)
else:
  print("Los números no son multiplos")

Ingresa el primer número: 22
Ingresa el segundo número: 60
Los números no son multiplos

3

In [ ]:
print("Comparar edades")
edad1 = int(input("Escriba la primer edad: "))
edad2 = int(input("Escriba la segunda edad: "))
edad3 = int(input("Escriba la tercera edad: "))
if edad1 > edad2 > edad3:
  print(f"Menor: {edad3} Medio: {edad2} Mayor: {edad1}")
elif edad2 > edad3 > edad1:
  print(f"Menor: {edad1} Medio: {edad3} Mayor: {edad2}")
elif edad3 > edad1 > edad2:
  print(f"Menor: {edad2} Medio: {edad1} Mayor: {edad3}")
elif edad1 < edad2 < edad3:
  print(f"Menor: {edad1} Medio: {edad2} Mayor: {edad3}")
elif edad2 < edad3 < edad1:
  print(f"Menor: {edad2} Medio: {edad3} Mayor: {edad1}")
elif edad3 < edad1 < edad2:
  print(f"Menor: {edad3} Medio: {edad1} Mayor: {edad2}")
elif edad1 == edad2 == edad3:
  print("Nacieron el mismo año")
else:
  print("Los dos números son iguales.")

Comparar edades
Escriba la primer edad: 5
Escriba la segunda edad: 5
Escriba la tercera edad: 5
Nacieron el mismo año

4

In [ ]:
sal = int(input("ingrese sus ingresos anuales: $"))

ingrese su ingresos mensuales: $445554

5

In [ ]:
cod = int(input("ingrese su código de estudiante: "))
if cod = U******** :
  print ("unab")

6

In [24]:
nota1 = float(input("ingrese su primer nota: "))
nota2 = float(input("ingrese su segunda nota: "))
nota3 = float(input("ingrese su tercer nota: "))
nota4 = float(input("ingrese su cuarta nota: "))
prom = (nota1+nota2+nota3+nota4)/4
print("su promedio fue de ",prom)
if prom >= 4.5:
  print ("ud se encuentra eximido del último examen")
elif prom >= 3.5 and prom < 4.5:
  print ("debe presentar examen")
elif prom >= 3 and prom < 3.5:
  print ("debe presentar un examen y un trabajo adicional")
elif prom >= 2 and prom < 3:
  print ("debe presentar habilitación")
elif prom < 2:
  print ("perdió la materia irremediablemente")
#< >

ingrese su primer nota: 1
ingrese su segunda nota: 1
ingrese su tercer nota: 1
ingrese su cuarta nota: 1
su promedio fue de  1.0
perdió la materia irremediablemente

7

In [33]:
cumple  = input ("ingrese la fecha de nacimiento en formato dd/mm/aaaa: ")
fecha = input ("ingrese la fecha actual en formato dd/mm/aaaa: ")

dia = cumple[:cumple.find('/')]
mesaño = cumple[cumple.find('/')+1:]
mes = mesaño[:mesaño.find('/')]
año = mesaño[mesaño.find('/')+1:]

dia2 = fecha[:fecha.find('/')]
mesaño2 = fecha[fecha.find('/')+1:]
mes2 = mesaño[:mesaño.find('/')]
año2 = mesaño[mesaño.find('/')+1:]

print("dia: " + dia)
print("mes: " + mes)
print("año: " + año)
print(" ")
print("dia: " + dia2)
print("mes: " + mes2)
print("año: " + año2)

ingrese la fecha de nacimiento en formato dd/mm/aaaa: 13/08/2003
ingrese la fecha actual en formato dd/mm/aaaa: 15/08/2022
dia: 13
mes: 08
año: 2003

dia: 15
mes: 08
año: 2003
2

8

In [41]:
año= int(input("ingrese el año: ")) 

if not año % 4:
	if not año % 100:     
		if not año % 400:  
			print("Es bisiesto")
		else:              
			print("No es bisiesto")
	else:                 
		print("Es bisiesto")
else:                    
	print("No es bisiesto")

ingrese el año: 2020
Es bisiesto

9

In [46]:
#print 'Escriba el valor de a:'
a=int(input("ingrese el valor de a: "))
#print 'Escriba el valor de b: '
b=int(input("ingrese el valor de b: "))
if a==0 and b!=0:
    print ("La ecuacion no tiene solucion")
elif a==0 and b==0:
    print ('no hay solucion única')
else:
    incognita=-b/a
    print ("El valor de x= %s" % str(incognita))

ingrese el valor de a: 0
ingrese el valor de b: 0
no hay solucion única

10

In [61]:
x1 = int(input("ingresa el valor de x1: "))
y1 = int(input("ingresa el valor de y1: "))
x2 = int(input("ingresa el valor de x2: "))
y2 = int(input("ingresa el valor de y2: "))
x = (y2 - y1) / (x2 - x1)
print(x)

ingresa el valor de x1: 4
ingresa el valor de y1: 5
ingresa el valor de x2: 8
ingresa el valor de y2: 10
1.25

11

In [77]:
a = float(input("Escriba el valor del coeficiente a: "))
b = float(input("Escriba el valor del coeficiente b: "))
c = float(input("Escriba el valor del coeficiente c: "))

d = b * b - 4 * a * c
if a == b == c == 0:
  print("Todos los números son solución.")
elif a == b == 0:
  print("La ecuación no tiene solución.")
elif a == 0:
  print(f"La ecuación tiene una solución: {- c / b}")
elif d < 0:
  print("La ecuación no tiene solución real.")
elif d == 0:
  print(f"La ecuación tiene una solución: {- b / (2 * a)}")
else:
  print(f"La ecuación tiene dos soluciones: {(-b - d ** 0.5) / (2 * a)} y {(-b + d ** 0.5) / (2 * a)}")

Escriba el valor del coeficiente a: 1
Escriba el valor del coeficiente b: 2
Escriba el valor del coeficiente c: 1
La ecuación tiene una solución: -1.0

12

13

In [80]:
centimetros = int(input("Escriba una distancia en centímetros: "))
if centimetros <= 0:
  print("Escriba una distancia mayor que cero.")
else:
  kilometros = centimetros // 100_000
  metros = centimetros % 100_000 // 100
  resto = centimetros % 100

print(f"{centimetros} centímetros son {kilometros} km {metros} m {resto} cm.")

Escriba una distancia en centímetros: 577539
577539 centímetros son 5 km 775 m 39 cm.

14

15

16

17

18

19

20